body{
	display: flex;
	justify-content: center;
	#root{
		width: 80%;
		border: solid #897962 .01rem;	
		padding: 3rem;
		max-width: 50rem;			
		.content {			
			&__list{
				display: flex;
				flex-wrap: wrap;
				padding-left: 1rem ;
				h4{
					text-align: center;
					height: .5rem;
					font: 1rem "Helvetica";
					color: #89796F;
					width: 100%
				}
				.deleteAll{
					border: 1px solid transparent;
					border-color: rgba(196, 127, 117, 0.2);
					text-decoration: none;
					color:  #C47F75;
					padding: 3px 7px;
					display: block;
					cursor: pointer;
					&:hover{
						border: 1px solid transparent;
						border-color: rgba(213, 126, 71, 0.2);
						background: #C47F75;
						border-radius: 3px;
						color: white;						
						padding: 3px 7px;						
						position: relative;
						display: block;
					};
				}
				.selectAll{
					border: 1px solid transparent;
					border-color: rgba(196, 127, 117, 0.2);
					text-decoration: none;
					color:  #6E896F;
					padding: 3px 7px;
					display: block;
					cursor: pointer;
					&:hover{
						border: 1px solid transparent;
						border-color: rgba(213, 126, 71, 0.2);
						background: #6E896F;
						border-radius: 3px;
						color: white;						
						padding: 3px 7px;						
						position: relative;
						display: block;
					};
				}
				li{
					width: 100%;
					display: flex;
					flex-wrap: no-wrap;
					height: 2rem;
					justify-content: space-between;
					margin: .3rem 0;
					border-bottom: solid #897962 .01rem;	
					padding: 1rem 2rem;					
				}	
				&-text{
					width: 75%;
					cursor: pointer;
					position: relative;
					font-size: 1rem;
					line-height: 3;
					&::selection {
						background: white; 
					}			
				}			
				&-edit{
					width: 10%;		
					font-size: 1rem;								
					max-width: 10%;
					width: 3rem;
					margin: 0 .5rem ;
					text-align: center;
					border-radius: .5rem;
					line-height: 2;
					font-family: "Helvetica";
					color: white;
					background: #6E896F;
					cursor: pointer;
					border: .1rem solid #6E896F;
					&:hover{
						color: #6E896F;
						background: white;
						border: .1rem solid #6E896F;
					}
				}			
				&-cancel{
					max-width: 10%;
					width: 1.5rem;
					margin: 0 .5rem ;
					text-align: center;
					border-radius: .5rem;
					line-height: 2;
					font-family: "Helvetica";
					color: white;
					background: #894844;
					cursor: pointer;
					border: .1rem solid #894844;
					&:hover{
						color: #894844;
						background: white;
						border: .1rem solid #894844;
					}
				}			
			}
		}
		.footer{
			display: flex;
			width: 100%;
			justify-content: center;;
			&__content{
				width: 80%;
				display: flex;			
				justify-content: center;;
				&-all{
					color: #3C2414;
					margin: 0 3px;					
					text-decoration: none;					
					border-radius: 3px;
					a{
						text-decoration: none;
						color:  #3C2414;
						padding: 3px 7px;
						border: 1px solid transparent;
						border-color: rgba(60, 36, 20, 0.2);
						display: block;
					}
					span{
						border: 1px solid transparent;
						border-color: rgba(60, 36, 20, 0.2);
						background: #3C2414;
						border-radius: 3px;
						color: white;						
						padding: 3px 7px;						
						position: relative;
						display: block;

					}
				}

				&-active{
					color: #89512D;
					margin: 0 3px;					
					text-decoration: none;					
					border-radius: 3px;
					a{
						text-decoration: none;
						color:  #89512D;
						padding: 3px 7px;
						border: 1px solid transparent;
						border-color: rgba(131, 81, 45, 0.2);
						display: block;
					}
					span{
						border: 1px solid transparent;
						border-color: rgba(131, 81, 45, 0.2);
						background: #89512D;
						border-radius: 3px;
						color: white;						
						padding: 3px 7px;						
						position: relative;
						display: block;

					}
				}

				&-compelted{	
					color:  #D57E47;				
					margin: 0 3px;					
					text-decoration: none;					
					border-radius: 3px;
					a{
						border: 1px solid transparent;
						border-color: rgba(213, 126, 71, 0.2);
						text-decoration: none;
						color:  #D57E47;
						padding: 3px 7px;
						display: block;
					}
					span{
						border: 1px solid transparent;
						border-color: rgba(213, 126, 71, 0.2);
						background: #D57E47;
						border-radius: 3px;
						color: white;						
						padding: 3px 7px;						
						position: relative;
						display: block;

					}
				}
			}
		}
	}
	.addTodo{
		width: auto;
		h2{
			text-align: center;
			height: .5rem;
			font: 1rem "Helvetica";
			color: #89796F;
		}
		form{
			width: auto;
			position: relative;
			display: flex;
			justify-content: center;
			.btn {
				background: #89796F;
				color: white;
				border: none;
				cursor: pointer;				
				padding: 1em 2em;
				letter-spacing: 0.05rem;				
				border: .05rem #89796F solid;
				border-left: none;
				&:hover { 
					background: none;
					border: .05rem #89796F solid;
					color: #89796F;
					border-left: none;
				}
			}
		}
	}
	.editTodo{
		width: auto;
		h3{
			text-align: center;
			height: .5rem;
			font: 1rem "Helvetica";
			color: #89796F;
		}
		form{
			width: auto;
			position: relative;
			display: flex;
			justify-content: center;			
			.btn-save{
				background: #6E896F;
				color: white;
				border: none;
				cursor: pointer;				
				padding: 1em 2em;
				letter-spacing: 0.05rem;				
				border: .05rem #6E896F solid;
				border-left: none;
				&:hover { 
					background: none;
					border: .05rem #6E896F solid;
					color: #6E896F;
					border-left: none;
				}
			}
			.btn-cancel{
				background: #894844;
				color: white;
				border: none;
				cursor: pointer;				
				padding: 1em 2em;
				letter-spacing: 0.05rem;				
				border: .05rem #894844 solid;
				border-left: none;
				&:hover { 
					background: none;
					border: .05rem #894844 solid;
					color: #894844;
					border-left: none;
				}
			}			
		}
	}

}

    /*color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-color: rgba(175, 47, 47, 0.2);
    border-radius: 3px;*/